menuentry "Unarddeg/OS (32 bit)" {
        multiboot2 /boot/unarddegos_ia32.o
        module2 /boot/modules/hello.ko "hello_module"
        module2 /boot/modules/pci.ko "pci_module"
        module2 /boot/modules/ide.ko "ide_module"
        module2 /boot/modules/fat.ko "fat_module"
        module2 /boot/modules/shell.ko "shell_module"
}
